In [ ]:
import pandas as pd


df = pd.read_csv(r'C:\Users\hengj\OneDrive - stevens.edu\311_Service_Requests_from_2010_to_Present_20250729.csv')

C:\Users\hengj\AppData\Local\Temp\ipykernel_44908\166039041.py:4: DtypeWarning: Columns (8,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\hengj\OneDrive - stevens.edu\311_Service_Requests_from_2010_to_Present_20250729.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3450927 entries, 0 to 3450926
Data columns (total 41 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unique Key                      int64
 1   Created Date                    object
 2   Closed Date                     object
 3   Agency                          object
 4   Agency Name                     object
 5   Complaint Type                  object
 6   Descriptor                      object
 7   Location Type                   object
 8   Incident Zip                    object
 9   Incident Address                object
 10  Street Name                     object
 11  Cross Street 1                  object
 12  Cross Street 2                  object
 13  Intersection Street 1           object
 14  Intersection Street 2           object
 15  Address Type                    object
 16  City                            object
 17  Landmark                        object
 18  Facility Type                   object
 19  Status                          object
 20  Due Date                        object
 21  Resolution Description          object
 22  Resolution Action Updated Date  object
 23  Community Board                 object
 24  BBL                             float64
 25  Borough                         object
 26  X Coordinate (State Plane)      float64
 27  Y Coordinate (State Plane)      float64
 28  Open Data Channel Type          object
 29  Park Facility Name              object
 30  Park Borough                    object
 31  Vehicle Type                    object
 32  Taxi Company Borough            object
 33  Taxi Pick Up Location           object
 34  Bridge Highway Name             object
 35  Bridge Highway Direction        object
 36  Road Ramp                       object
 37  Bridge Highway Segment          object
 38  Latitude                        float64
 39  Longitude                       float64
 40  Location                        object
dtypes: float64(5), int64(1), object(35)
memory usage: 1.1+ GB

In [5]:
df['Created Date'] = pd.to_datetime(df['Created Date'])# Convert 'Created Date' to datetime format. to_datetime is a pandas function that converts a string or object to proper datetime.

C:\Users\hengj\AppData\Local\Temp\ipykernel_44908\3628762263.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Created Date'] = pd.to_datetime(df['Created Date'])# Convert 'Created Date' to datetime format. to_datetime is a pandas function that converts a string or object to proper datetime.

In [28]:
df

,Unique Key,Created Date,Closed Date,Agency,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,...,Park Facility Name,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Location,Month Created
0,63582299,2024-12-31 23:38:12,2025-01-01 00:07:40,NYPD,Blocked Driveway,No Access,Street/Sidewalk,11102.0,11-48 30 ROAD,30 ROAD,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.77078063169057, -73.93316278651044)",12
1,63575634,2024-12-31 23:38:09,2024-12-31 23:51:56,NYPD,Noise - Commercial,Loud Music/Party,Store/Commercial,10031.0,1635 AMSTERDAM AVENUE,AMSTERDAM AVENUE,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.822592971648255, -73.94952504515548)",12
2,63577417,2024-12-31 23:38:05,2025-01-01 00:11:32,NYPD,Noise - Residential,Banging/Pounding,Residential Building/House,11218.0,800 CONEY ISLAND AVENUE,CONEY ISLAND AVENUE,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.63806987618295, -73.9684584184473)",12
3,63577977,2024-12-31 23:38:03,2025-01-01 09:02:06,NYPD,Noise - Residential,Loud Music/Party,Residential Building/House,10466.0,655 EAST 230 STREET,EAST 230 STREET,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.89187241649303, -73.86016845296459)",12
4,63579342,2024-12-31 23:37:58,2025-01-01 00:42:20,NYPD,Noise - Residential,Loud Music/Party,Residential Building/House,11226.0,179 LINDEN BOULEVARD,LINDEN BOULEVARD,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.65254011371671, -73.95184486671171)",12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3450922,59894535,2024-01-01 23:38:53,2024-01-06 16:41:13,HPD,UNSANITARY CONDITION,MOLD,RESIDENTIAL BUILDING,10459.0,950 WESTCHESTER AVENUE,WESTCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.82238724077358, -73.89632611778347)",1
3450923,59897975,2024-01-01 23:38:53,2024-01-06 16:41:13,HPD,UNSANITARY CONDITION,PESTS,RESIDENTIAL BUILDING,10459.0,950 WESTCHESTER AVENUE,WESTCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.82238724077358, -73.89632611778347)",1
3450924,59898486,2024-01-01 23:38:48,2024-01-02 00:32:56,NYPD,Noise - Residential,Banging/Pounding,Residential Building/House,11375.0,63-10 108 STREET,108 STREET,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.734694673156454, -73.85052125577377)",1
3450925,59894488,2024-01-01 23:38:37,2024-01-04 06:30:19,HPD,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11223.0,1800 OCEAN PARKWAY,OCEAN PARKWAY,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.60486018113993, -73.96681750400715)",1
3450926,59900491,2024-01-01 23:38:24,2024-01-02 20:18:19,HPD,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,10037.0,465 LENOX AVENUE,LENOX AVENUE,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(40.81288398511282, -73.94176538373816)",1

In [6]:
df['Closed Date'] = pd.to_datetime(df['Closed Date'])

C:\Users\hengj\AppData\Local\Temp\ipykernel_44908\1196474082.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Closed Date'] = pd.to_datetime(df['Closed Date'])

In [7]:
df.count()

Unique Key                        3450927
Created Date                      3450927
Closed Date                       3378621
Agency                            3450927
Agency Name                       3450927
Complaint Type                    3450927
Descriptor                        3338991
Location Type                     3034484
Incident Zip                      3416604
Incident Address                  3330854
Street Name                       3330732
Cross Street 1                    2467096
Cross Street 2                    2467328
Intersection Street 1             2323331
Intersection Street 2             2324791
Address Type                      3436825
City                              3289697
Landmark                          2083885
Facility Type                       14057
Status                            3450927
Due Date                            19575
Resolution Description            3380226
Resolution Action Updated Date    3435937
Community Board                   3450927
BBL                               3073637
Borough                           3450927
X Coordinate (State Plane)        3397436
Y Coordinate (State Plane)        3397575
Open Data Channel Type            3450927
Park Facility Name                3446607
Park Borough                      3450927
Vehicle Type                       161249
Taxi Company Borough                 2180
Taxi Pick Up Location               37208
Bridge Highway Name                 21146
Bridge Highway Direction            11524
Road Ramp                            8446
Bridge Highway Segment              21101
Latitude                          3397413
Longitude                         3397413
Location                          3397413
dtype: int64

In [ ]:
df.drop(labels='Due Date',axis=1, inplace=True) #axis=1 reprsents columns and axis=0 represents rows. Inplace=True means that the changes will be applied to the original DataFrame df, rather than creating a new one.

In [9]:
df.drop(labels='Agency Name',axis=1, inplace=True)

In [10]:
df.drop(labels='Cross Street 1',axis=1, inplace=True)

In [11]:
df.drop(labels='Cross Street 2',axis=1, inplace=True)

In [12]:
df.drop(labels='Address Type',axis=1, inplace=True)

In [13]:
df.drop(labels='Resolution Description',axis=1, inplace=True)

In [14]:
df.drop(labels='Resolution Action Updated Date',axis=1, inplace=True)

In [15]:
df.drop(labels='X Coordinate (State Plane)',axis=1, inplace=True)

In [16]:
df.drop(labels='Y Coordinate (State Plane)',axis=1, inplace=True)

In [17]:
df.drop(labels='Latitude',axis=1, inplace=True)

In [18]:
df.drop(labels='Longitude',axis=1, inplace=True)

In [19]:
df.drop(labels='Park Borough',axis=1, inplace=True)

In [20]:
df['Month Created']=df['Created Date'].dt.month # Extract the month from 'Created Date' and create a new column 'Month Created'

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3450927 entries, 0 to 3450926
Data columns (total 30 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Unique Key                int64
 1   Created Date              datetime64[ns]
 2   Closed Date               datetime64[ns]
 3   Agency                    object
 4   Complaint Type            object
 5   Descriptor                object
 6   Location Type             object
 7   Incident Zip              object
 8   Incident Address          object
 9   Street Name               object
 10  Intersection Street 1     object
 11  Intersection Street 2     object
 12  City                      object
 13  Landmark                  object
 14  Facility Type             object
 15  Status                    object
 16  Community Board           object
 17  BBL                       float64
 18  Borough                   object
 19  Open Data Channel Type    object
 20  Park Facility Name        object
 21  Vehicle Type              object
 22  Taxi Company Borough      object
 23  Taxi Pick Up Location     object
 24  Bridge Highway Name       object
 25  Bridge Highway Direction  object
 26  Road Ramp                 object
 27  Bridge Highway Segment    object
 28  Location                  object
 29  Month Created             int32
dtypes: datetime64[ns](2), float64(1), int32(1), int64(1), object(25)
memory usage: 776.7+ MB

In [22]:
df.count()

Unique Key                  3450927
Created Date                3450927
Closed Date                 3378621
Agency                      3450927
Complaint Type              3450927
Descriptor                  3338991
Location Type               3034484
Incident Zip                3416604
Incident Address            3330854
Street Name                 3330732
Intersection Street 1       2323331
Intersection Street 2       2324791
City                        3289697
Landmark                    2083885
Facility Type                 14057
Status                      3450927
Community Board             3450927
BBL                         3073637
Borough                     3450927
Open Data Channel Type      3450927
Park Facility Name          3446607
Vehicle Type                 161249
Taxi Company Borough           2180
Taxi Pick Up Location         37208
Bridge Highway Name           21146
Bridge Highway Direction      11524
Road Ramp                      8446
Bridge Highway Segment        21101
Location                    3397413
Month Created               3450927
dtype: int64

In [23]:
df['Month Created'].value_counts()

Month Created
12    313793
9     306973
10    306860
6     306407
7     299269
11    293560
8     285183
5     284102
1     280018
4     267608
3     266700
2     240454
Name: count, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3450927 entries, 0 to 3450926
Data columns (total 30 columns):
 #   Column                    Dtype
---  ------                    -----
 0   unique_key                int64
 1   created_date              datetime64[ns]
 2   closed_date               datetime64[ns]
 3   agency                    object
 4   complaint_type            object
 5   descriptor                object
 6   location_type             object
 7   incident_zip              object
 8   incident_address          object
 9   street_name               object
 10  intersection_street_1     object
 11  intersection_street_2     object
 12  city                      object
 13  landmark                  object
 14  facility_type             object
 15  status                    object
 16  community_board           object
 17  bbl                       float64
 18  borough                   object
 19  open_data_channel_type    object
 20  park_facility_name        object
 21  Vehicle Type              object
 22  taxi_company_borough      object
 23  taxi_pick_up_location     object
 24  bridge_highway_name       object
 25  bridge_highway_direction  object
 26  road_ramp                 object
 27  bridge_highway_segment    object
 28  location                  object
 29  month_created             int32
dtypes: datetime64[ns](2), float64(1), int32(1), int64(1), object(25)
memory usage: 776.7+ MB

In [24]:
df_renamed = df.rename(columns={'Created Date': 'created_date', 'Closed Date': 'closed_date', 'Complaint Type': 'complaint_type', 'Descriptor': 'descriptor', 'Incident Zip': 'incident_zip', 'Incident Address': 'incident_address', 'City': 'city', 'Borough': 'borough', 'Status': 'status', 'Community Board': 'community_board', 'BBL': 'bbl', 'Borough': 'borough', 'Open Data Channel Type': 'open_data_channel_type', 'Park Facility Name': 'park_facility_name'}, inplace=True)

In [25]:
df.rename(columns = {'closed_D=date' : 'closed_date', 'Unique Key':'unique_key','Agency': 'agency', 'Location Type':'location_type','Street Name':'street_name', 'Facility Type':'facility_type', 'Landmkar':'landmark', 'Vechile Type':'vechile_type','Taxi Company Borough':'taxi_company_borough','Taxi Pick Up Location': 'taxi_pick_up_location','Bridge Highway Name':'bridge_highway_name','Bridge Highway Direction':'bridge_highway_direction','Road Ramp':'road_ramp','Bridge Highway Segment':'bridge_highway_segment','Location':'location','Month Created':'month_created'}, inplace=True)

In [26]:
df.rename(columns={'Intersection Street 1': 'intersection_street_1','Intersection Street 2':'intersection_street_2', 'Landmark':'landmark'}, inplace=True)

In [28]:
df.rename(columns={'Vehicle Type': 'vehicle_type'}, inplace=True)

In [29]:
df.to_csv("cleaned.csv", index=False)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3450927 entries, 0 to 3450926
Data columns (total 30 columns):
 #   Column                    Dtype
---  ------                    -----
 0   unique_key                int64
 1   created_date              datetime64[ns]
 2   closed_date               datetime64[ns]
 3   agency                    object
 4   complaint_type            object
 5   descriptor                object
 6   location_type             object
 7   incident_zip              object
 8   incident_address          object
 9   street_name               object
 10  intersection_street_1     object
 11  intersection_street_2     object
 12  city                      object
 13  landmark                  object
 14  facility_type             object
 15  status                    object
 16  community_board           object
 17  bbl                       float64
 18  borough                   object
 19  open_data_channel_type    object
 20  park_facility_name        object
 21  vehicle_type              object
 22  taxi_company_borough      object
 23  taxi_pick_up_location     object
 24  bridge_highway_name       object
 25  bridge_highway_direction  object
 26  road_ramp                 object
 27  bridge_highway_segment    object
 28  location                  object
 29  month_created             int32
dtypes: datetime64[ns](2), float64(1), int32(1), int64(1), object(25)
memory usage: 776.7+ MB

In [32]:
df['borough'].value_counts()

borough
BROOKLYN         1043704
QUEENS            825577
BRONX             736698
MANHATTAN         721363
STATEN ISLAND     120951
Unspecified         2634
Name: count, dtype: int64